

img {
  height: 50%;
  display: block;
  padding: 5 0;
}

body {
  font-family: sans-serif;
  margin: 20 20 20 20;
  background-color: lavender;
}

#navigation {
  border: 1px solid mintcream;
  padding: 20px;
  border-radius: 10px;
  color: green;
}

#navigation a {
  float: right;
  padding: 15 5;
  font-size: 19px;
  color: green;
}

.container {
  border: 1px solid mintcream;
  padding: 20px;
  margin: 5 0 0 0;
  border-radius: 10px;
  height: 90vh;
}

.text-blocks {
  padding: 5 0;
}

#change-color {
  cursor: pointer;
}

h3, h4 {
    margin: 0px;
}

h1 {
  font-size: 40px;
  margin: 0px;
  display: inline;
}
