
img {
  height: 50%;
  display: block;
  padding: 5 0;
}

body {
  font-family: sans-serif;
  margin: 20 20 20 20;
  background-color: lavender;
}

#navbar {
  border: 1px solid mintcream;
  padding: 20px;
  border-radius: 10px;
  color: green;
}

#navbar a {
  float: right;
  padding: 15 5;
  font-size: 19px;
  color: green;
}

#header-font {
  font-size: 40px;
}

.container {
  border: 1px solid mintcream;
  padding: 20px;
  margin: 5 0 0 0;
  border-radius: 10px;
  height: 90vh;
}

.text-blocks {
  padding: 5 0;
}

strong {
  display: block;
  font-size: 18px;
}

#change-color {
  cursor: pointer;
}
