
body {
    font-family: sans-serif;
    margin: 20px;
}

#navbar {
    color: green;
    padding: 20px;
}

#navbar a {
    float: right;
    padding: 15px 5px;
}

.container {
    margin: 5px 0px;
    border:1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.text-blocks {
    padding: 5px 0px;
}

img {
    height: 50%;
}

strong {
    display: block;
}
